body{
    background: #ededed;
            }
.button-container {
position: absolute;
display: block;
}
.filter-button {
background: none;
border: none !important;
font-weight: 500;
padding: 5px 10px;
border-radius: 9999px;
overflow: hidden;
cursor: pointer;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.filter-button:hover {
background-color: #e2e8f0;
}
.filter-button.active {
background-color: #64748b;
color: white;
}
.events-container h1, h2 {
margin-bottom: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.filter input {
padding: 7px 10px;
border: 1px solid #ced7e3;
color: #000;
background: #fff;
border-radius: 24px;
outline: none;
transition: 0.3s ease;
position: absolute;
left: 73%;
}
.addBookingBtn button {
color: #fff;
background: transparent;
font-size: 16px;
cursor: pointer;
pointer-events: auto;
outline: none;
border: 1px solid #4f46e5;
background: #4f46e5;
border-radius: 25px;
height: 30px;
width: 100px;
justify-content: center;
display: flex;
align-items: center
}

.detail table th, .detail table td {
padding: 0.8rem 0.2rem;
text-align: left;
min-width: 112px;
font-size: 14px;
font-family: math;
}
.material-symbols-outlined {
font-size: 18px;
cursor: pointer;
}
.navbar {
padding-left: 70px;
height: 4rem;
}
.navbar a{
left: 87%;
font-size: 1.3rem;
}
.navbar img{
margin-left: 80px;
}
.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
padding-top: 60px;
}
.modal-content {
background-color: #fefefe;
margin: 5% auto;
padding: 20px;
border: 1px solid #888;
width: 500px;
height: 500px;
}
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
.dropdown-container {
position: relative;
display: inline-block;
}
.dropdown-btn {
background: none;
border: none;
cursor: pointer;
font-size: 24px;
}
.dropdown-menu {
display: none;
position: absolute;
right: 0;
border-radius: 5px;
background-color: white;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
z-index: 1;
min-width: 160px;
}
.dropdown-menu a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown-menu a:hover {
background-color: #e2e8f0;
width: 100%;
border-radius: 25px;
}
.divider {
height: 1px;
background-color: #ccc;
margin: 8px 0;
}
.navbar .dropdown-container{
left: 87%;
}
.dropdown-container a{
position:static ;
font-size: 1rem;
}
.modal label{
margin-top: 10px;
font-size: 20px;
font-family: sans-serif, emoji;
}
.modal input{
height: 40px;
font-size: 20px;
width: 90%;
font-family: sans-serif, emoji;
padding: 20px;
}
.modal button{
height: 30px;
width: 190px;
margin-top: 200px;
left: 140px;
position: relative;
color: white;
font-size: 20px;
background: #4f46e5;
border: #4f46e5;
font-family: sans-serif, emoji;
}
#editForm{
display: flex;
flex-direction: column;
       }
   
